<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>CatatCash</title>
  <link rel="stylesheet" th:href="@{/css/budget.css}">
</head>
<body>
<!-- navigation bar -->
<div th:replace="fragments/navbar :: navbar"></div>
<div class="container">
  <form class="form-box" th:action="@{/budget/add}" method="POST" th:objet="${newBudget}">
    <h1 class="form-heading">Add new Budget</h1>
    <div class="form-group">
      <div class="form-field">
           <p class="form-label">Wallet</p>
      <select class="form-input" th:field="*{newBudget.wallet.walletId}" th:required="required">

        <option th:value="${walletFromList.walletId}" th:text="${walletFromList.name}" th:each="walletFromList : ${wallets}"></option>
      </select>
    </div>
    <div class="form-field">
      <p class="form-label">Name</p>
      <input type="text" class="form-field" name="name" placeholder="Budget name" th:field="*{newBudget.name}">
    </div>
      <div class="form-field">
        <p class="form-label">Amount</p>
      <input type="number" step="1" min="0" class="form-field" name="Amount" placeholder="0" th:field="*{newBudget.amount}">
      </div>
      <div class="form-field">
        <p class="form-label">Start Date</p>
      <input type="date"  class="form-control datepicker" id="start" name="start" th:field="*{newBudget.start}">
      </div>
      <div class="form-field">
        <p class="form-label">End Date</p>
      <input type="date"  class="form-control datepicker" id="end" name="end" th:field="*{newBudget.end}">
      </div>
    </div>
    <div class="form-buttons">
      <button type="submit" id="submit-button" class="button-fill">Submit</button>
      <a th:href="@{/budget}" class="button-outline">Back</a>
    </div>

  </form>
  <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<script>


  $("#end").change(function () {
    var startDate = document.getElementById("start").value;
    var endDate = document.getElementById("end").value;
    if ((Date.parse(endDate) <= Date.parse(startDate))) {
      alert("End date should be greater than Start date");
      document.getElementById("end").value = "";
    }
    else{
    }
  });
</script>
</div>


</body>
</html>