<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" th:href="@{/css/budget.css}">
  <style th:inline="css">
    .indicator-red{
      width: calc([[(${budget.getSpend()}/${budget.getAmount()})*100]]%);
    }
  </style>
</head>
<body>
<!-- navigation bar -->
<div th:replace="fragments/navbar :: navbar"></div>
<div class="container" style="margin-top: 100px">
  <div style="width: 100%">
    <h1 style="font-size: 54px" th:text="${budget.getName()}"></h1>
    <div class="budget-graybox">
      <div class="judul-rekening" th:text="${budget.getWallet().name}"><img th:src="@{/img/wallet.svg}" class="img-wallet" ></div>
      <div class="balance-container">
        <span class="judul-balance">Total Budget:</span>
        <span class="balance" th:text="${budget.getAmount()}"></span>

      </div>
      <div>
        <div class="indicator-green">
          <div class="indicator-red" >

          </div>
        </div>
      </div>
      <div style="display:flex;width: 100%;justify-content: space-evenly;">
        <div class="balance-container">
          <span class="judul-balance">Current Usage</span>
          <span class="balance merah" th:text="${budget.getSpend()}"></span>
        </div>
        <div class="balance-container">
          <span class="judul-balance">Remaining Budget</span>
          <span class="balance hijau"th:if="${budget.getAmount()}-${budget.getSpend()}<=0" >0</span>
          <span class="balance hijau"th:unless="${budget.getAmount()}-${budget.getSpend()}<=0" th:text="${budget.getAmount()}-${budget.getSpend()}"></span>
        </div>
      </div>
      <div class="balance-container" style="font-weight: lighter;font-size: 24px">
        <span>Period</span>
        <span th:text="${#dates.format(budget.getStart(), 'dd MMMMM yyyy')} + ' - ' + ${#dates.format(budget.getEnd(), 'dd MMMMM yyyy')}"></span>
      </div>
      <div>
        <form  action="#" th:action="@{|/budget/${budget.getId()}/delete|}" th:method="delete">
        <button class="button-fill secondary" type="submit">Delete budget</button>
          <a th:href="@{/budget}" class="button-outline">Back</a>
        </form>

      </div>
    </div>
  </div>

</div>

</body>
</html>