<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CatatCash</title>
    <link rel="stylesheet" th:href="@{/css/budget.css}">
</head>
<body>
<!-- navigation bar -->
<div th:replace="fragments/navbar :: navbar"></div>
<div class="container">
    <h1>Budget</h1>
    <a class="button-fill" th:href="@{/budget/add}"> Add Budget </a>
    <div class="budget-list" th:each="budget: ${budgets}">
        <a th:href="@{|budget/${budget.getId()}|}" class="link-wrapper">
            <div class="budget-item border gray">
                <div class="budget-walletname-box">
            <h3 class="budget-wallet" th:text="${budget.getWallet().getName()}" ></h3>
                </div>
                <div class="budget-balance-box">
                    <small class="budget-label">Name :</small>
            <h2 class="budget-name" th:text="${budget.getName()}"></h2>
                </div>
        </div>
    </a>
</div>
</div>
</body>
</html>