/* @import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;600&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;600&display=swap');


* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    box-sizing: border-box;
}

body, button, input {
    font-family: 'Rubik', sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 6em 14vw 2em 14vw;
}

.navbar {
    display: flex;
    justify-content: space-between;
    background-color: #FF8C40;
    color: white;
    padding: 1em 14vw;
    width: 100%;
    position: fixed;
    top: 0px;
}

.nav-links {
    display: flex;
    align-items: center;
    color: white;
    list-style-type: none;
}

.nav-links a {
    color: white;
    text-decoration: none;
}

.nav-links li {
    color: white;
    text-decoration: none;
    margin-left: 1em;
}

.nav-brand {
    font-weight: bold;
    color: white;
}

.page-header {
    margin-bottom: 1em;
    font-size: 3rem;
}

.button-fill, .button-outline {
	border-radius:4px;
	cursor:pointer;
	padding:10px 31px;
    text-decoration:none;
    margin-bottom: 1em ;
    min-width: 8em;
    text-align: center;
    font-size: .9em;
}

.button-fill {
	background-color:#FF8C40;
	border:1px solid #ffffff;
	color:#ffffff;
}
.button-fill:hover {
    background-color:#ff9e4e;
    text-decoration:none;
	color:#ffffff;
}

.button-fill:active, .button-outline:active {
	position:relative;
	top:1px;
}

.button-fill:disabled {
    background-color:#e0dfdf;
    color:#7c7c7c;
    cursor: auto;
}

.button-outline {
	background-color:#ffffff;
	border:1px solid #FF8C40;
	color:#FF8C40;
}

.button-outline a {
    color: #FF8C40;
}

.button-outline:hover {
    background-color:#FF8C40;
    color: #ffffff;
    text-decoration: none;
}

.button-outline:hover a {
    color: #ffffff;
}

.secondary {
   background-color: #7c7c7c;
}

.secondary:hover {
    background-color: #8b8b8b;
 }

.form-box {
    border: 1px solid #1b1b1b;
    border-radius: 10px;
    padding: 2em 5em;
    width: 70%;
    width: fit-content;
}

.form-group {
    display: flex;
    flex-direction: column;
    margin-top: 1em;
}

.form-field {
    margin-top: 1em;
}

.form-input {
    padding: 0.5em 1em;
    margin-top: 0.2em;
    width: 100%;
}

.form-buttons {
    display: flex;
    margin-top: 1em;
    gap: 1em;
}

.form-alert {
    margin-top: 1em;
    color: #FD4E4E;
}

.wallet-box {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 1em 2em;
    background-color: #f0f0f0;
    border-radius: 5px;

}
.wallet-list {
    min-width: 60%;
    /* max-width: 70%; */
    padding: 1em 0em;
}

.wallet-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2em;
}

.border {
    border: 1px solid #1b1b1b;
    border-radius: 5px;
    padding: .8em 2em;
}

.gray {
    background-color: #f8f8f8;
}

.inside {
    font-size: 1.5em !important;
}

.link-wrapper {
    color: #1b1b1b;
}

.wallet-buttons {
    display: flex;
    justify-content: space-between;
    gap: 1em;
    margin-top: 2em;
}

.wallet-balance {
    color: #FF8C40;
    font-size: 2em;
}

.wallet-name {
    font-size: 2.2em;
}

* {
    box-sizing: border-box;
}

/* Create two equal columns that floats next to each other */
.column {
    float: left;
    width: 100%;
    padding: 10px;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}
#error_message {
    visibility: hidden;
    margin: 0.5em 0;
}
