<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CatatCash - Home</title>
    <link th:href="@{/css/userauth.css}" rel="stylesheet" />
</head>
<body>

<!-- navigation bar -->
<div th:replace="fragments/navbar :: navbar"></div>

<!-- login form -->
<div class = "container" style="justify-content: start">

    <div class="main-grid">
        <div class="grid-row">
            <div class="row-item">
                <div class="home-title">CatatCash</div>
                <div class="home-desc">Keep track of your wallets, Create Budgets, and view the report of all your finances with ease.<br><br><br>Start using CatatCash now!
                </div>
            </div>
            <div class="row-item">
                <div class="form-buttons">
                    <a class="button-fill" th:href="@{/login}">Login</a>
                    <a class="button-outline" th:href="@{/register}">Sign Up</a>
                </div>
            </div>
        </div>
        <div class="grid-item">
            <img th:src="@{/img/homeimg.svg}" width="400" height="270" alt="home"/>
        </div>
    </div>

</div>
</body>
</html>