<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CatatCash - Login</title>
    <link th:href="@{/css/userauth.css}" rel="stylesheet" />
</head>
<body>

<!-- navigation bar -->
<div th:replace="fragments/navbar :: navbar"></div>

<!-- login form -->
<div class = "container">

    <!-- error message -->
    <div th:if="${param.error}">
        <div class="form-alert">Invalid email or password.</div>
    </div>

    <!-- logout message -->
    <div th:if="${param.logout}">
        <div class="form-info">You have been logged out.</div>
    </div>

    <div class = "register-form">
        <div class="form-content">
            <h1 class="form-heading"> Login </h1>
            <form th:action="@{/login}" method="post">

                <div class = "form-group">
                    <label for ="username"> Email </label> <input
                        type="email" class = "form-field" id ="username" name = "username"
                        placeholder="Enter Email Address" autofocus="autofocus">
                </div>

                <div class="form-group">
                    <label for="password">Password</label> <input
                        type="password" id="password" name="password" class="form-field"
                        placeholder="Enter Password" />
                </div>

                <div class="form-text">
                    <span>No account? <a class="form-link" href="/" th:href="@{/register}">Register here.</a></span>
                </div>

                <div class="form-buttons">
                    <button type="submit" class="button-fill" style="padding: 12px 1em;">Login</button>
                </div>
            </form>
        </div>
        <div class="form-close">
            <a href="/"><img th:src="@{/img/closeBtn.svg}" width="20px" height="20px" alt="close"/></a>
        </div>
    </div>
</div>
</body>
</html>