<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CatatCash - Register</title>
    <link th:href="@{/css/userauth.css}" rel="stylesheet" />
</head>
<body>

<!-- navigation bar -->
<div th:replace="fragments/navbar :: navbar"></div>

<!-- registration form -->
<div class="container">

    <!-- error message -->
    <div th:if="${errorMessage}"
         class="form-alert" role="alert"
         th:text="${errorMessage}">
    </div>

    <div class="register-form">
        <div class="form-content">
            <h1 class="form-heading">Register</h1>
            <form th:action="@{/register}" method="post" th:object="${user}" data-toggle="validator">

                <div class="form-group">
                    <label class="control-label" for="email"> Email </label> <input
                        placeholder="Enter Email Address" id="email" class="form-field" type="email"
                        th:field="*{email}" data-error="This email address is invalid" required
                        autofocus="autofocus" />
                </div>

                <div class="form-group">
                    <label class="control-label" for="password"> Password </label> <input
                        placeholder="Enter Password" id="password" class="form-field" type="password"
                        th:field="*{password}" required autofocus="autofocus" />
                </div>

                <div class="form-text">
                    <span>Have an account? <a class="form-link" href="/" th:href="@{/login}">Login here.</a></span>
                </div>

                <div class="form-buttons">
                    <button type="submit" class="button-fill" style="padding: 12px 1em;">Register</button>
                </div>
            </form>
        </div>
        <div class="form-close">
            <a href="/"><img th:src="@{/img/closeBtn.svg}" width="20px" height="20px" alt="close"/></a>
        </div>
    </div>
</div>
</body>
</html>