<div th:fragment="navbar">
    <link th:href="@{/css/navbar.css}" rel="stylesheet" />

    <nav class="navbar">
        <a href="/" class="nav-brand">CatatCash</a>
        <ul class="nav-links">
            <li><a href="/wallet">Wallets</a></li>
            <li><a href="/transaction">Transaction</a></li>
            <li><a href="/report">Report</a></li>
            <li><a href="/budget">Budget</a></li>
            <li sec:authorize="isAnonymous()"><a href="/login">Login</a></li>
            <li sec:authorize="isAuthenticated()"><a href="/logout">Logout</a></li>
        </ul>
    </nav>
</div>