@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400&display=swap');

* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    box-sizing: border-box;
}

body, button, input {
    font-family: 'Rubik', sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 4em 14vw 0em 14vw;
}

.navbar {
    display: flex;
    justify-content: space-between;
    background-color: #FF8C40;
    color: white;
    padding: 1em 14vw;
    width: 100%;
    position: fixed;
    top: 0px;
}

.nav-links {
    display: flex;
    align-items: center;
    color: white;
    list-style-type: none;
}

.nav-links a {
    color: white;
    text-decoration: none;
}

.nav-links li {
    color: white;
    text-decoration: none;
    margin-left: 1em;
}

.nav-brand {
    font-weight: bold;
    color: white;
}



select {
    height: fill;
    padding: 0.25em 0.5em;
    background-color: transparent;
    border-radius: 0.25em;
    background-color: #fff;
    background-image: linear-gradient(to top, #f9f9f9, #fff 33%);
    appearance: none;
    background-image: url("data:image/svg+xml;utf8,<svg fill='black' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>");
    background-repeat: no-repeat;
    background-position-x: 100%;
    background-position-y: 50%;
    border: 1px solid #dfdfdf;
    border-radius: 2px;
    margin-right: 2rem;
    padding: 0.5rem;
    padding-right: 2rem;
}


.form-box {
    border: 1px solid #1b1b1b;
    padding: 2em 5em;
    border-radius: 10px;
    width: 70%;
    width: fit-content;
}

.page-header {
    margin-bottom: 1em;
    font-size: 3rem;
}

.form-group {
    display: flex;
    flex-direction: column;
    margin-top: 1em;
}

.form-field {
    margin-top: 1em;
}

.form-input {
    padding: 0.5em 1em;
    margin-top: 0.2em;
    width: 100%;
}

.form-label {
    font-weight: bold;
}

.form-buttons {
    display: flex;
    margin-top: 2em;
    gap: 1em;
}

.button-fill, .button-outline {
    border-radius:4px;
    cursor:pointer;
    padding:10px 31px;
    text-decoration:none;
    margin-bottom: 1em ;
    min-width: 8em;
    text-align: center;
}

.button-fill {
    background-color:#FF8C40;
    border:1px solid #ffffff;
    color:#ffffff;
}
.button-fill:hover {
    background-color:#FF8C40;
    text-decoration:none;
    color:#ffffff;

}
.button-fill:active, .button-outline:active {
    position:relative;
    top:1px;
}

.button-fill:disabled {
    background-color:#e0dfdf;
    color:#7c7c7c;
    cursor: auto;
}

.button-outline {
    background-color:#ffffff;
    border:1px solid #FF8C40;
    color:#FF8C40;
}
.button-outline:hover {
    background-color:#FF8C40;
    color: #ffffff;
    text-decoration: none;
}

.form-buttons {
    display: flex;
    margin-top: 2em;
    gap: 1em;
}

.budget-box {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 1em 2em;
    background-color: #f0f0f0;
    /* border: 2px solid #1b1b1b; */
    border-radius: 5px;


}
.budget-list {
    width: 70%;
    padding: 1em 0em;
}

.budget-item{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2em;
}

.border{
    border: 1px solid #1b1b1b;
    border-radius: 5px;
    padding: .8em 2em;
}

.gray {
    background-color: #f8f8f8;
}

.inside{
    font-size: 1.5em !important;
}

.link-wrapper{
    color: #1b1b1b;
}

.budget-name{
    color: #1b1b1b;
    font-size: 2em;
}

.budget-walletname {
    font-size: 2.2em;
}
.judul-balance{
    font-size: 36px;
    font-weight: lighter;
}
.balance{
    font-size: 48px;
    font-weight: bold;
}

.merah{
    color: #F65153;
}
.hijau{
 color: #25B875;
}

.balance-container{
    display: flex;
    flex-direction: column;
    width: 50%;
}
.judul-rekening{
    vertical-align: center;
    font-size: 38px;
}
.budget-graybox{
    background-color:#F2F2F2;padding: 40px;margin-top: 20px;display: flex;flex-direction: column;gap: 30px;border-radius: 6px;
}
.img-wallet{
    vertical-align: middle;margin-right: 10px;
}
.indicator-green{
    height: 20px;width: 100%;background-color: #25B875;border-radius: 10px;
}
.indicator-red{
    height: 20px;background-color: #F65153;border-radius: 10px;max-width: 100%;
}