.navbar {
    display: flex;
    justify-content: space-between;
    background-color: #FF8C40;
    color: white;
    padding: 1em 20vw;
    width: 100%;
    position: fixed;
    top: 0px;
}

.nav-links {
    display: flex;
    gap: 20px;
    align-items: center;
    color: white;
    list-style-type: none;
}

.nav-links a {
    color: white;
    font-size: larger;
    text-decoration: none;
}

.nav-links li {
    color: white;
    text-decoration: none;
    margin-left: 1em;
}

.nav-brand {
    font-size: larger;
    font-weight: bold;
    color: white;
}

.page-header {
    margin-bottom: 1em;
    font-size: 3rem;
}

