@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400&display=swap');
.report-title {
    width: 100%;
    padding-left: 2%;
    padding-top: 1%;
    padding-bottom: 1%;
    font-size: 75%;
}

.form-filter {
    display: flex;
    width: 100%;
    padding-left: 5%;
    padding-top: 5%;
    padding-bottom: 5%;
}

.filter-option {
    font-size: 100%;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
    padding: 1%;
}

.filter-btn-group {
    margin-left: auto;
    padding: 0% 10% 1% 0%;
}

.filter-btn {
    margin-right: auto;
    background-color: #27AE60;
    padding: 10% 20% 10% 20%;
    color: white;
    border-radius:4px;
    cursor:pointer;
    text-decoration: none;
    font-size: 100%;
    font-weight: bold;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 4em 14vw 0em 14vw;
}

.button-fill, .button-outline {
    border-radius:4px;
    cursor:pointer;
    padding:10px 31px;
    text-decoration:none;
    margin-bottom: 1em ;
    min-width: 8em;
    text-align: center;
    font-size: .9em;
}

body, button, input {
    font-family: 'Rubik', sans-serif;
}

.gray {
    background-color: #f8f8f8;
}

.gray2 {
    background-color: #828282;
    color: white;
}

/* https://codepen.io/5t3ph/pen/MWyyYNz */
/* https://stackoverflow.com/questions/14218307/select-arrow-style-change */
select {
    padding: 0.25em 0.5em;
    background-color: transparent;
    border-radius: 0.25em;
    background-color: #fff;
    background-image: linear-gradient(to top, #f9f9f9, #fff 33%);
    appearance: none;
    background-image: url("data:image/svg+xml;utf8,<svg fill='black' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>");
    background-repeat: no-repeat;
    background-position-x: 100%;
    background-position-y: 50%;
    border: 1px solid #dfdfdf;
    border-radius: 2px;
    margin-right: 2rem;
    padding: 0.5rem;
    padding-right: 2rem;
}

* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    box-sizing: border-box;
}

body, button, input {
    font-family: 'Rubik', sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 6em 14vw 2em 14vw;
}

.navbar {
    display: flex;
    justify-content: space-between;
    background-color: #FF8C40;
    color: white;
    padding: 1em 14vw;
    width: 100%;
    position: fixed;
    top: 0px;
}

.nav-links {
    display: flex;
    align-items: center;
    color: white;
    list-style-type: none;
}

.nav-links a {
    color: white;
    text-decoration: none;
}

.nav-links li {
    color: white;
    text-decoration: none;
    margin-left: 1em;
}

.nav-brand {
    font-weight: bold;
    color: white;
}

.page-header {
    margin-bottom: 1em;
    font-size: 3rem;
}

.button-fill, .button-outline {
    border-radius:4px;
    cursor:pointer;
    padding:10px 31px;
    text-decoration:none;
    margin-bottom: 1em ;
    min-width: 8em;
    text-align: center;
    font-size: .9em;
}

.button-fill {
    background-color:#FF8C40;
    border:1px solid #ffffff;
    color:#ffffff;
}
.button-fill:hover {
    background-color:#ff9e4e;
    text-decoration:none;
    color:#ffffff;
}

.button-fill:active, .button-outline:active {
    position:relative;
    top:1px;
}

.button-fill:disabled {
    background-color:#e0dfdf;
    color:#7c7c7c;
    cursor: auto;
}

.button-outline {
    background-color:#ffffff;
    border:1px solid #FF8C40;
    color:#FF8C40;
}

.button-outline a {
    color: #FF8C40;
}

.button-outline:hover {
    background-color:#FF8C40;
    color: #ffffff;
    text-decoration: none;
}

.button-outline:hover a {
    color: #ffffff;
}

.secondary {
    background-color: #7c7c7c;
}

.secondary:hover {
    background-color: #8b8b8b;
}

.form-box {
    border: 1px solid #1b1b1b;
    border-radius: 10px;
    padding: 2em 5em;
    width: 70%;
    width: fit-content;
}

.form-group {
    display: flex;
    flex-direction: column;
    margin-top: 1em;
}

.form-field {
    margin-top: 1em;
}

.form-input {
    padding: 0.5em 1em;
    margin-top: 0.2em;
    width: 100%;
}

.form-buttons {
    display: flex;
    margin-top: 2em;
    gap: 1em;
}

.wallet-box {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 1em 2em;
    background-color: #f0f0f0;
    border-radius: 5px;

}
.wallet-list {
    min-width: 60%;
    /* max-width: 70%; */
    padding: 1em 0em;
}

.wallet-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2em;
}

.border {
    border: 1px solid #1b1b1b;
    border-radius: 5px;
    padding: .8em 2em;
}

.gray {
    background-color: #f8f8f8;
}

.inside {
    font-size: 1.5em !important;
}

.link-wrapper {
    color: #1b1b1b;
}

.wallet-buttons {
    display: flex;
    justify-content: space-between;
    gap: 1em;
    margin-top: 2em;
}

.wallet-balance {
    color: #FF8C40;
    font-size: 2em;
}

.wallet-name {
    font-size: 2.2em;
}

* {
    box-sizing: border-box;
}

/* Create two equal columns that floats next to each other */
.column {
    float: left;
    width: 25%;
    padding: 10px;
    text-align: center;
}

/* Clear floats after the columns */
.row {
    flex-direction: row;
    gap: 16px;
    align-items: flex-start;
    padding: 0;
}