@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400&display=swap');

* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    box-sizing: border-box;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 4em 14vw 0em 14vw;
}

html {
    height: calc(100vh - 55px);
}

body {
    height: 100%;
}

body, button, input {
    font-family: 'Rubik', sans-serif;
}

.transaction-item {
  word-wrap: break-word;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2em;
  margin-top: 0.5em;
  padding: 2em;
  margin-bottom: 0.5em;
  width: 100%;
}

.gray {
  background-color: #f8f8f8;
}

.gray2 {
  background-color: #828282;
  color: white;
}

.transaction-title {
    width: 100%;
    padding-left: 2%;
    padding-top: 1%;
    padding-bottom: 1%;
    font-size: 75%;
}

.form-filter {
    display: flex;
    width: 100%;
    padding-left: 5%;
    padding-top: 5%;
    padding-bottom: 5%;
}

.filter-option {
    font-size: 100%;
    width: 120%;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
    padding: 1%;
}

.filter-btn-group {
    margin-left: auto;
    padding: 0% 10% 1% 0%;
}

.filter-btn {
    margin-right: auto;
    background-color: #27AE60;
    padding: 10% 20% 10% 20%;
    color: white;
    border-radius:4px;
	  cursor:pointer;
    text-decoration: none;
    font-size: 100%;
    font-weight: bold;
}


/* https://dev.to/dcodeyt/creating-beautiful-html-tables-with-css-428l */
.styled-table {
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 0.9em;
  font-family: sans-serif;
  min-width: 400px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}


.styled-table thead tr {
  background-color: #828282;
  color: #ffffff;
  text-align: left;
}

.styled-table th,
.styled-table td {
    padding: 12px 15px;
}

.styled-table tbody tr {
  border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
  background-color: #f2f2f2;
}

.styled-table tbody tr:last-of-type {
  border-bottom: 2px solid #f2f2f2;
}

.styled-table tbody tr.active-row {
  font-weight: bold;
  color: #009879;
}

.delete-btn-group {
  display: flex;
}

.delete-btn {
  background-color: #FD4E4E;
  margin-right: auto;
  margin-left: auto;
  color: white;
  border-radius:4px;
  text-decoration: none;
  font-size: 100%;
  font-weight: bold;
  padding: 2% 2% 2% 2%;
}

.redirect-btn {
  background-color: #FF8C40;
  margin-right: auto;
  margin-left: auto;
  color: white;
  border-radius:4px;
  text-decoration: none;
  font-size: 100%;
  font-weight: bold;
  padding: 2% 2% 2% 2%;
}

.gray-font {
  color: #828282;
  font-weight: bold;
}

.wallet-name {
  font-size: 1.2em;
}

.income {
  font-weight: bold;
  color: #FF8C40;
  font-size: 1.2em;
}

.expense {
  font-weight: bold;
  color: #27AE60;
  font-size: 1.2em;
}

/* https://codepen.io/5t3ph/pen/MWyyYNz */
/* https://stackoverflow.com/questions/14218307/select-arrow-style-change */
select {
  height: fill;
  padding: 0.25em 0.5em;
  background-color: transparent;
  border-radius: 0.25em;
  background-color: #fff;
  background-image: linear-gradient(to top, #f9f9f9, #fff 33%);
  appearance: none;
  background-image: url("data:image/svg+xml;utf8,<svg fill='black' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>");
  background-repeat: no-repeat;
  background-position-x: 100%;
  background-position-y: 50%;
  border: 1px solid #dfdfdf;
  border-radius: 2px;
  margin-right: 2rem;
  padding: 0.5rem;
  padding-right: 2rem;
}


.form-box {
  border: 1px solid #1b1b1b;
  border-radius: 10px;
  padding: 2em 5em;
  width: 70%;
  width: fit-content;
}

.form-group {
  display: flex;
  flex-direction: column;
  margin-top: 1em;
}

.form-field {
  margin-top: 1em;
}

.form-input {
  padding: 0.5em 1em;
  margin-top: 0.2em;
  width: 100%;
}

.form-label {
  font-weight: bold;
}

.form-buttons {
  display: flex;
  margin-top: 2em;
  gap: 1em;
}

.button-fill, .button-outline {
	border-radius:4px;
	cursor:pointer;
	padding:10px 31px;
    text-decoration:none;
    margin-bottom: 1em ;
    min-width: 8em;
    text-align: center;
    font-size: .9em;
}

.button-fill {
	background-color:#FF8C40;
	border:1px solid #ffffff;
	color:#ffffff;
}
.button-fill:hover {
    background-color:#ff9e4e;
    text-decoration:none;
	color:#ffffff;
}

.button-fill:active, .button-outline:active {
	position:relative;
	top:1px;
}

.button-fill:disabled {
    background-color:#e0dfdf;
    color:#7c7c7c;
    cursor: auto;
}

.button-outline {
	background-color:#ffffff;
	border:1px solid #FF8C40;
	color:#FF8C40;
}

.button-outline a {
    color: #FF8C40;
}

.button-outline:hover {
    background-color:#FF8C40;
    color: #ffffff;
    text-decoration: none;
}

.button-outline:hover a {
    color: #ffffff;
}

.type-radio {
  display: flex;
  gap: 6%;
}

input[type="radio"] {
  margin-left: -10%;
  margin-right: 5%;
}

.error-field {
  display: none;
  color: red;
}

.lds-ring {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 64px;
  height: 64px;
  margin: 8px;
  border: 8px solid #ff8c40;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #7c7c7c transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

#form-ticket-transactionList {
  display: none;
}