@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400&display=swap');

* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    box-sizing: border-box;
}

html {
    height: calc(100vh - 55px);
}

body {
    height: 100%;
}

body, button, input {
    font-family: 'Rubik', sans-serif;
}

.container {
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 55px;
    padding: 0 20vw;
}

.main-grid {
    display: grid;
    grid-template-columns: auto auto;
    grid-column-gap: 40px;
    margin-top: 100px;
}

.grid-row {
    display: grid;
    grid-row-gap: 20px;
}

.home-title {
    color: #4F4F4F;
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 10px;
}

.home-desc {
    color: #747474;
    font-size: 20px;
}

.register-form {
    display: inline-flex;
    max-width: 700px;
    max-height: 500px;
    width: 75%;
    height: 75%;
    box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.17);
}

.form-content {
    display: flex;
    height: 100%;
    flex-grow: 1;
    padding: 0 0 0 60px;
    flex-wrap: nowrap;
    align-content: stretch;
    justify-content: center;
    flex-direction: column;
    color: #4F4F4F;
}

.form-alert {
    margin-bottom: 10px;
    color: #FD4E4E;
}

.form-info {
    margin-bottom: 10px;
}

.form-close {
    height: 100%;
    padding: 25px;
}

.form-heading {
    margin: 20px 0;
    font-size: 40px;
}

.form-group {
    display: flex;
    flex-direction: column;
    padding: 15px 0;
}

.form-field {
    margin-top: 1em;
    padding: 0.5em 1em;
    font-size: 1em;
    border: #4F4F4F solid 1px;
    border-radius: 5px;
}

.form-text {
    display: flex;
    flex-direction: column;
    padding: 5px 0;
    text-align: right;
}

.form-buttons {
    display: flex;
    margin-top: 1.5em;
    gap: 1em;
}

.form-link {
    font-weight: bold;
    color: #FF8C40;
}

.button-fill, .button-outline {
    border-radius: 5px;
    font-size: large;
    font-weight: bold;
    cursor: pointer;
    padding: 12px 1em;
    text-decoration: none;
    margin-bottom: 1em;
    min-width: 8em;
    text-align: center;
}

.button-fill {
    background-color:#FF8C40;
    color:#FFFFFF;
    border: none;
    padding: 14px;
}

.button-fill:hover {
    background-color:#FF9E4E;
    text-decoration:none;
    color:#FFFFFF;
}

.button-fill:active, .button-outline:active {
    position:relative;
    top:1px;
}

.button-fill:disabled {
    background-color:#E0DFDF;
    color:#7C7C7C;
    cursor: auto;
}

.button-outline {
    background-color: #FFFFFF;
    border: 3px solid #FF8C40;
    color: #FF8C40;
}

.button-outline:hover {
    background-color:#FF8C40;
    color: #FFFFFF;
    text-decoration: none;
}