<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CatatCash - Add Transaction</title>
    <link rel="stylesheet" th:href="@{/css/transaction.css}">
  </head>
  <body>
    <!-- navigation bar -->
    <div th:replace="fragments/navbar :: navbar"></div>
    <div class="container">
      <form class="form-box" th:action="@{/transaction/create}" method="POST" th:object="${newTransaction}" id="form-create-transaction">
        <h1 class="form-heading">Add transaction</h1>
        <div class="form-group">
          <div class="form-field">
            <p class="form-label">Wallet</p>
            <select onchange="validate()" class="form-input" th:field="*{wallet.walletId}" th:required="required">
              <!-- <option value="" disabled selected>-- Select Wallet --</option> -->
              <option th:value="${walletFromList.walletId}" th:text="${walletFromList.name}" th:each="walletFromList : ${wallets}"></option>
            </select>
          </div>
          <div class="form-field">
            <p class="form-label">Amount</p>
            <input class="form-input" onkeyup="validate()" type="number" th:field="*{amount}" placeholder="Amount" step="1" min="1" th:required="required">
          </div>
          <div class="form-field">
            <p class="form-label">Type</p>
            <div class="form-input type-radio">
              <label th:each="transactionType : ${T(com.c10.catatcash.transaction.model.TransactionType).values()}">
                <input onchange="validate()" type="radio" th:field="*{type}" th:value="${transactionType}" th:text="${transactionType.displayValue}" th:required="required">
              </label>
            </div>
          </div>
          <div class="form-field">
            <p class="form-label">Description</p>
            <input class="form-input" type="text" th:field="*{description}" placeholder="Description" th:required="required">
          </div>
          <div class="form-field">
            <p class="form-label">Date</p>
            <input class="form-input" type="date" th:field="*{date}" th:required="required">
          </div>
          <div class="form-field" id="budget-div" style='display:none;'>
            <p class="form-label">Budget</p>
            <select onchange="stripNameOrNot()" class="form-input" th:field="*{budget.id}">
              <option value="" id="budget.id" disabled selected>-- Select Budget (optional) --</option>
              <option value="" id="budget.id">No budget</option>
              <option th:value="${budgetFromList.id}" th:text="${budgetFromList.name}" th:each="budgetFromList : ${budgets}"></option>
            </select>
          </div>
        </div>
        <div class="form-buttons">
          <button class="button-fill" type="submit" onclick="return submitAction()">Save</button>
          <a class="button-outline" th:href="@{/transaction}">Cancel</a>
        </div>
        <div class="form-field">
          <p class="error-field" id="error-field" display="none">Your wallet balance cannot be negative, please enter the correct amount of your transaction.</p>
        </div>
      </form>
    </div>
    <script>
      var validated = false;
      function validate() {
        var wallet = document.getElementById("wallet.walletId").value;
        var amount = document.getElementById("amount").value;
        var type = document.querySelector('input[name="type"]:checked');
        if (type != null && type.value == 'EXPENSE') {
          addBudgetOption();
        } else {
          deleteBudgetOption();
        }
        if (wallet == null || wallet == '' || amount == null || amount == '' || type == null || type == '') {
          return;
        }

        var xhttp = new XMLHttpRequest();
        xhttp.onreadystatechange = function() {
          if (this.readyState == 4 && this.status == 200) {
            validated = JSON.parse(this.responseText)['isValidated'];
            if (validated) {
              document.getElementById("error-field").style.display = "none";
            } else {
              document.getElementById("error-field").style.display = "block";
            }
          }
        }
        xhttp.open("POST", "[[@{/transaction/validate/create}]]", true);

        var data = new FormData(document.getElementById("form-create-transaction"));
        xhttp.send(data);
      }

      function stripBudgetName() {
        let budgetselect = document.getElementById('budget.id');
        budgetselect.name = '';
      }
      function unstripBudgetName() {
        let budgetselect = document.getElementById('budget.id');
        budgetselect.name = 'budget.id';
      }

      function addBudgetOption() {
        let budgetdiv = document.getElementById('budget-div');
        budgetdiv.style.display = 'block';
        let budgetselect = document.getElementById('budget.id');
        budgetselect.name = 'budget.id';
        stripNameOrNot();
      }
      function deleteBudgetOption() {
        let budgetdiv = document.getElementById('budget-div');
        budgetdiv.style.display = 'none';
        let budgetselect = document.getElementById('budget.id');
        budgetselect.name = '';
      }

      function stripNameOrNot() {
        let budget = document.getElementById("budget.id").value;
        if (budget == "") {
          stripBudgetName();
        } else {
          unstripBudgetName();
        }
      }

      window.onload = function() {
        deleteBudgetOption();
      }
      function submitAction() {
        if (!validated) {
          alert("Please correct the error first!");
        }
        return validated;
      }
    </script>
  </body>
</html>