<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CatatCash - Failed Operation</title>
    <link rel="stylesheet" th:href="@{/css/transaction.css}">
  </head>

  <body>
    <!-- navigation bar -->
    <div th:replace="fragments/navbar :: navbar"></div>
    <div class="container">
      <h1>We encounter an error during processing your request. Please try again.</h1>
    </div>
    <div class="container">
      <p>This could happen if the transaction(s) you're trying to create / delete exceeds your wallet balance, or the wallet / transaction you choose doesn't exist</p>
    </div>
  </body>
</html>