<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CatatCash - Transaction</title>
    <link rel="stylesheet" th:href="@{/css/transaction.css}">
  </head>

  <body>
    <!-- navigation bar -->
    <div th:replace="fragments/navbar :: navbar"></div>
    <div class="container"><div class="transaction-title gray2"><h1>Transaction</h1></div></div>
    <div class="container">
      <div class="redirect-btn-group">
        <button class="redirect-btn" th:onclick="'window.location.href=\'' + @{/transaction/create} + '\''">Add Transaction</button>
      </div>
    </div>
    <div class="container">
      <form class="form-filter gray" th:action="@{/transaction/filter}" method="GET">
        <div class="filter-option-group">
          <p></p>
          <select class="filter-select" name="filterType" onchange="displayDiv(this)" required>
            <option value="" disabled selected>-- Select Filter --</option>
            <option value="by-nofilter">Show all</option>
            <option id="by-wallet" value="by-wallet">Filter by wallet</option>
            <option id="by-timestampinterval" value="by-timestampinterval">Filter by date</option>
            <option id="by-budget" value="by-budget">Filter by budget</option>
            <option id="by-type" value="by-type">Filter by type</option>
          </select>
        </div>
        <div class="filter-option-group" id="by-nofilter-div" style="display: none">
          <div class="filter-option" id="by-nofilter-div-input">
            <p><input type="hidden"></p>
            <p><input type="hidden"></p>
          </div>
        </div>
        <div class="filter-option-group" id="by-wallet-div" style="display: none">
          <div class="filter-option" id="by-wallet-div-input">
            <p>Select wallet:
              <select class="wallet-option">
                <!-- <option value="" disabled selected>-</option> -->
                <option th:each="wallet : ${walletList}" th:value="${wallet.walletId}" th:text="${wallet.name}"></option>
              </select>
            </p>
          </div>
        </div>
        <div class="filter-option-group" id="by-timestampinterval-div" style="display: none">
          <div class="filter-option" id="by-timestampinterval-div-input">
            <p>Start date: <input type="date"></p>
            <p>End date: <input type="date"></p>
          </div>
        </div>
        <div class="filter-option-group" id="by-budget-div" style="display: none">
            <div class="filter-option" id="by-budget-div-input">
              <p>Select budget:
                <select class="wallet-option">
                  <!-- <option value="" disabled selected>-</option> -->
                  <option th:each="budget : ${budgetList}" th:value="${budget.id}" th:text="${budget.name}"></option>
                </select>
              </p>
            </div>
        </div>
        <div class="filter-option-group" id="by-type-div" style="display: none">
          <div class="filter-option" id="by-type-div-input">
            <p>Select type:
              <select class="wallet-option">
                <!-- <option value="" disabled selected>-</option> -->
                <option value="Income">Income</option>
                <option value="Expense">Expense</option>
              </select>
            </p>
          </div>
      </div>
        <div class="filter-btn-group">
          <input class="filter-btn" type="submit" value="Apply filter">
        </div>
      </form>
    </div>
    
    <div class="container" id="transactionList">
      <div class="lds-ring" id="loading-animation"><div></div><div></div><div></div><div></div></div>
      <form th:action="@{/transaction/delete}" method="POST" id="form-transactionDelete">
        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
      </form>
    </div>
    <form id="form-ticket-transactionList">
      <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
      <input name="ticket" id="ticket" th:value="${transactionListTicket}">
    </form>
    <script>
      var prevState = "by-nofilter-div";
      function displayDiv(elementValue) {
        var newState = elementValue.value + '-div';
        document.getElementById(prevState).style.display = 'none';
        document.getElementById(newState).style.display = 'block';
        var prevInput = document.getElementById(prevState + '-input');
        for (var x = 0; x < prevInput.childElementCount; x++) {
          prevInput.children[x].children[0].setAttribute("name", "");
        }
        var nextInput = document.getElementById(newState + '-input');
        for (var x = 0; x < nextInput.childElementCount; x++) {
          nextInput.children[x].children[0].setAttribute("name", "filterParam");
        }
        prevState = newState;
      }

      window.onload = function() {
        var xhttp = new XMLHttpRequest();
        xhttp.onreadystatechange = function() {
          if (this.readyState == 4 && this.status == 200) {
            res = JSON.parse(this.responseText);
            console.log(res); // debug
            document.getElementById("loading-animation").style.display = 'none';
            transactionDeleteForm = document.getElementById('form-transactionDelete');
            htmlRes = '';
            if (res.length == 0 || res == null || res == '[]') {
              htmlRes += '<p><i class="gray-font">-- No transaction found --</i></p>';
            } else {
              htmlRes = '<table class="styled-table">';
              htmlRes += '<thead><tr><th>Delete?</th><th>Wallet</th><th>Budget</th><th>Description</th><th>Date</th><th>Amount</th></tr></thead><tbody>';
              for (let i = 0; i < res.length; i++) {
                htmlRes += '<tr>';
                htmlRes += '<td><input type="checkbox" name="deletedTransactions" value="' + res[i]['id'] + '"/></td>'
                htmlRes += '<td><h1 class="wallet-name"><h1>' + res[i]['walletName'] + '</h1></td>';
                htmlRes += '<td><h1 class="wallet-name"><h1>' + res[i]['budgetName'] + '</h1></td>';
                htmlRes += '<td>' + res[i]['description'] + '</td>';
                htmlRes += '<td>' + getFormattedDate(res[i]['date']) + '</td>';
                if (res[i]['type'] == 'INCOME') {
                  htmlRes += '<td class="income">+' + res[i]['amount'] + '</td>';
                } else {
                  htmlRes += '<td class="expense">' + res[i]['amount'] + '</td>';
                }
                htmlRes += '</tr>';
              }
              htmlRes += '</tbody></table><div class="delete-btn-group"><input class="delete-btn" type="submit" onclick="confirm(\'Are you sure?\')" value="Delete Selected Transactions"></div>';
            }
            transactionDeleteForm.innerHTML += htmlRes;
          }
        }
        xhttp.open("POST", "[[@{/transaction/getTransactionListFromTicket}]]", true);

        var data = new FormData(document.getElementById("form-ticket-transactionList"));
        xhttp.send(data);
      }

      function getFormattedDate(dateStr) {
        newDate = new Date(dateStr);
        months = [
          'January',
          'February',
          'March',
          'April',
          'May',
          'June',
          'July',
          'August',
          'September',
          'October',
          'November',
          'December'
        ];
        days = [
          'Sunday',
          'Monday',
          'Tuesday',
          'Wednesday',
          'Thursday',
          'Friday',
          'Saturday'
        ];
        return days[newDate.getDay()] + ', ' + newDate.getDate() + ' ' + months[newDate.getMonth()] + ' ' + newDate.getFullYear();
      }
    </script>
  </body>
</html>