<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" th:href="@{/css/report.css}">
</head>
<body>
    <!-- navigation bar -->
    <div th:replace="fragments/navbar :: navbar"></div>
    <div class="container">
        <h1>Report</h1>
        <div class="container">
            <form class="form-filter gray" th:action="@{/report/filter}" method="GET">

                <div class="filter-option-group" id="by-wallet-div">
                    <div class="filter-option" id="by-wallet-div-input">
                        <p>Select wallet:
                            <select name="wallet" th:required="required">
                                <option value="" disabled selected>-- Select Wallet --</option>
                                <option th:each="wallet : ${walletList}" th:value="${wallet.walletId}" th:text="${wallet.name}" name="wallet"></option>
                            </select>
                        </p>
                    </div>
                </div>

                <div class="filter-option-group" id="by-timestampinterval-div">
                    <div class="filter-option" id="by-timestampinterval-div-input">
                        <p>Start date: <input type="date" name="date" th:required="required"></p>
                        <p>End date: <input type="date" name="date" th:required="required"></p>
                    </div>
                </div>
                <div class="filter-btn-group">
                    <input class="filter-btn" type="submit" value="Show Report">
                </div>
            </form>
        </div>
    </div>
    <div class="container row" th:if="${isFiltered}">
        <div class="column gray">
            <h2>Opening balance:</h2> <br>
            <h1 th:text="${balance[0]}"></h1>
            <p th:text="${date[0]}"></p>
            <br>
            <h2>Ending Balance:</h2> <br>
            <h1 th:text="${balance[1]}"></h1>
            <p th:text="${date[1]}"></p>
            <br>
        </div>
        <div class="column gray">
            <h2>Total Income:</h2> <br>
            <h1 th:text="${report[0]}"></h1> <br>
            <h2>Total Expense:</h2> <br>
            <h1 th:text="${report[1]}"></h1><br>
        </div>
    </div>
</body>
</html>