<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" th:href="@{/index.css}">
</head>
<body>
<!-- navigation bar -->
<div th:replace="fragments/navbar :: navbar"></div>
<div class="container">
    <form class="form-box" action="#" th:action="@{|/wallet/${wallet.getWalletId()}/delete|}" th:method="delete">
        <div class="wallet-item">
            <h1 class="wallet-name" th:text="${wallet.getName()}"></h1>
            <div class="wallet-balance-box">
                <small class="wallet-label">Balance :</small>
                <h2 class="wallet-balance" th:text="${wallet.getBalance()}"></h2>
            </div>
        </div>
        <div class="wallet-buttons">
            <a th:href="@{|/wallet/${wallet.getWalletId()}/transfer|}" class="button-fill">Transfer Balance</a>
            <button class="button-fill secondary" type="submit">Delete wallet</button>
            <a th:href="@{/wallet}" class="button-outline">Back</a>
        </div>
    </form>

</div>
</body>
</html>