<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" th:href="@{/index.css}">
</head>

<body>
<!-- navigation bar -->
<div th:replace="fragments/navbar :: navbar"></div>
<div class="container">
    <h1>Error</h1>
    <h3 th:text="${errorMessage}"></h3>
</div>
</body>

</html>