<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" th:href="@{/index.css}">
</head>

<body>
<!-- navigation bar -->
<div th:replace="fragments/navbar :: navbar"></div>
    <div class="container">
        <h1>Wallets</h1>
        <a class="button-fill" th:href="@{/wallet/add}"> Add Wallet </a>

        <div class="wallet-list" th:each="wallet: ${wallets}">
            <a th:href="@{|wallet/${wallet.getWalletId()}|}" class="link-wrapper">
                <div class="wallet-item border gray">
                    <h1 class="wallet-name" th:text="${wallet.getName()}"></h1>
                    <div class="wallet-balance-box">
                        <small class="wallet-label">Balance :</small>
                        <h2 class="wallet-balance" th:text="${wallet.getBalance()}"></h2>
                    </div>
                </div>
            </a>
        </div>




    </div>
</body>

</html>