<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" th:href="@{/index.css}">
</head>
<body>
<!-- navigation bar -->
<div th:replace="fragments/navbar :: navbar"></div>
<div class="container">
    <form method="POST" class="form-box" action="#" th:action="@{|/wallet/${walletSender.getWalletId()}/transfer|}">

        <div class="form-group">
            <h1 class="form-header">Transfer Balance</h1>

            <div class="form-field">
                <p class="form-label">From: </p>
                <div class="wallet-item border">
                    <h1 class="wallet-name inside" th:text="${walletSender.getName()}"></h1>
                    <div class="wallet-balance-box">
                        <small class="wallet-label">Balance :</small>
                        <h2 class="wallet-balance inside" id="sender-balance" th:text="${walletSender.getBalance()}"></h2>
                    </div>
                </div>
            </div>
            <div class="form-field">
                <p class="form-label">Transfer to: </p>
                <select class="wallet-option" name="receiverId" required>
                    <option th:each="wallet : ${wallets}" th:value="${wallet.getWalletId()}" th:text="${wallet.getName()}"></option>
                </select>
<!--                <input class="form-input" type="text" name="name" placeholder="Wallet name">-->
            </div>
            <div class="form-field">
                <p class="form-label">Amount</p>
                <input class="form-input" id="transfer-amount" type="number" step="1" min="0" name="amount" placeholder="Transfer amount" required onkeyup="validateBalance()">
            </div>
            <div th:if="${errorMessage}"
                 class="form-alert" role="alert"
                 th:text="${errorMessage}">
            </div>

            <div class="form-alert" id="error_message" role="alert" th:text="${'Not enough balance from ' + walletSender.getName() + ' to make transfer'}"></div>
        </div>
        <div class="form-buttons">
            <button type="submit" id="submit-button" class="button-fill">Submit</button>
            <a th:href="@{/wallet}" class="button-outline">Cancel</a>
        </div>
    </form>

</div>
<script>
    function balanceIsValid() {
        const senderBalance = +document.getElementById("sender-balance").innerHTML
        const transferAmount = document.getElementById("transfer-amount").value
        return (senderBalance - transferAmount >= 0)
    }

    function validateBalance() {
        let button = document.getElementById("submit-button")
        let error_message = document.getElementById("error_message")
        button.disabled = !balanceIsValid()
        error_message.style.visibility = (balanceIsValid()) ? "hidden" : "visible"
    }
</script>
</body>
</html>