<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" th:href="@{/index.css}">
</head>

<body>
    <!-- navigation bar -->
    <div th:replace="fragments/navbar :: navbar"></div>
    <div class="container">
        <form class="form-box" th:action="@{/wallet/add}" th:object="${wallet}" method="POST">
            <h1 class="form-heading">Add new Wallet</h1>
            <div class="form-group">
                <div class="form-field">
                    <p class="form-label">Wallet Name</p>
                    <input class="form-input" type="text" th:field="${wallet.name}" name="name" placeholder="Wallet name" required>
                </div>
                <div class="form-field">
                    <p class="form-label">Initial balance</p>
                    <input class="form-input" type="number" th:field="${wallet.balance}" step="1" min="0" name="balance"
                        placeholder="Initial balance" required>
                </div>
            </div>
            <div class="form-buttons">
                <button class="button-fill" type="submit">Submit</button>
                <a class="button-outline" th:href="@{/wallet}">Cancel</a>
            </div>
        </form>
    </div>
</body>

</html>